extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to Update  
  else
   - let bridgeid = toShow._id 
   - let bridge_type = toShow.bridge_type 
   - let bridge_name = toShow.bridge_name
   - let bridge_size = toShow.bridge_size 
   
   div.row(class='mb-2') 
     div.mr-1 ID is 
     div #{bridgeid} 
   - let actionid = "/resource/bridges/" + bridgeid 
   form(id='bridgeForm', action= actionid, method="PUT") 
     div.form-group 
         label.bridgeAttr(for='bridge_type') bridge_type  
         input#bridge_type(type='text', name='bridge_type', value= bridge_type ) 
     div.form-group 
         label.bridgeAttr(for='bridge_name') bridge_name
         input#bridge_name(type='text', name='bridge_name', value= bridge_name ) 
     div.form-group 
         label.bridgeAttr(for='bridge_size') bridge_size 
         input#bridge_size(type='number', name='bridge_size', value= bridge_size)  
     input(type="submit")  
 
  script. 
    document.forms['bridgeForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });  