extends layout
block content
    if (!user)
        a(href="/login") Login
        br
        a(href="/register") Register
    if (user)
        p You are currently logged in as #{user.username}
        a(href="/bridges") Take me to bridges
        br
        a(href="/logout") Logout   